.DS_Store
/.build
/dist
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/dev-logs/
/design/
/docs/
/scripts/*
!/scripts/
!/scripts/build-app.sh
!/scripts/bump_version.py
/windows/
